# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.log

# Node, caso seja usado futuramente
node_modules/

# Assets-fonte das marcas
assets/img/brands/source-pack/

# Assets-fonte dos banners da home
/assets/img/banner 01/
/assets/img/banner 02/
/assets/img/banner 3 masculino/
/assets/img/banner_04_feminino/

# Assets-fonte da página A Loja
/assets/img/loja_interna_externa/

# Asset temporário da Ecko
/logoEKO.png
# Assets-fonte das páginas de coleções
/assets/img/pagina_masculino/
/assets/img/pagina_feminino/